<div style="display:flex; flex-direction: row; align-items: center;">
    <div style="margin-bottom:10px; flex: 1; justify-content: center;" *ngIf="compositeTerm && isEditable">
        <div cdkDropList
        cdkDropListOrientation="horizontal"
        class="example-list"
        style="align-items: center;"
        (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let term of compositeTerm.items" cdkDrag>
                {{term.listOption ? term.listOption.name : term.term.name}}
            </div>
        </div>
    </div>
    <!-- Only display the term name if it's not editable -->
    <span *ngIf="compositeTerm && !isEditable" style="flex: 1; font-size:1.1rem; padding-left:7px;">
        {{ compositeTerm.name }}
    </span>
</div>
