<div style="display:flex; flex-direction: row; align-items: center;">
    <div style="margin-bottom:10px; flex: 1; justify-content: center;" *ngIf="compositeTerm">
        <div cdkDropList
             cdkDropListOrientation="horizontal"
             (cdkDropListDropped)="drop($event)"
             [cdkDropListEnterPredicate]="isEditable"
        class="term-list">
            <div [class]="isEditable ? 'term-box' : 'term-box read-only'" *ngFor="let term of compositeTerm.items" cdkDrag [cdkDragDisabled]="!isEditable">
                <div style="flex: 1; text-align: center; display: flex; flex-direction: column">
                    <span style="font-weight: bold;">
                        {{term.listOption ? term.listOption.name : term.term.name}}
                    </span>
                    <span *ngIf="term.listOption">
                        (<span>List</span>: {{term.term.name}})
                    </span>
                </div>
                <button mat-icon-button (click)="removeDetailItem(term)" *ngIf="isEditable">
                    <fa-icon class="font-color-danger" [icon]="['fas', 'times']"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</div>
