<mat-card class="bedes-container">
    <mat-card-header>
        <span class="bedes-container-title">
            <fa-icon [icon]="['fas', 'shield-alt']"></fa-icon>
            {{currentUser.email}}
        </span>
    </mat-card-header>

    <mat-card-actions>
        <button
        mat-flat-button
        id="loginBtn"
        color="accent"
        (click)="logout()">
            <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>
            Logout
        </button>

    </mat-card-actions>
</mat-card>
