<div style="display:flex; flex-direction: row; margin-bottom: 10px;">
    <a mat-stroked-button routerLink="/composite-term">
        <fa-icon [icon]="['fas', 'chevron-circle-left']"></fa-icon>
        Back to List
    </a>
    <button mat-stroked-button color="primary" (click)="updateCompositeTerm()">
        <fa-icon [icon]="['fas', 'save']"></fa-icon>
        Save
    </button>
    <button mat-stroked-button color="primary" (click)="openTermSearchDialog()">
        <fa-icon [icon]="['fas', 'cloud-download-alt']"></fa-icon>
        Import BEDES Terms
    </button>
</div>
<h1>
    {{compositeTerm ? compositeTerm.name : ''}}
</h1>
<div>
    <form [formGroup]="dataForm" style="display:flex; flex-direction: row; margin-top:10px">
        <!-- Description -->
        <mat-form-field style="flex:1; margin-bottom:5px;" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Enter a Description" formControlName="description" rows="5">
            </textarea>
        </mat-form-field>
        <mat-form-field style="flex:1;" appearance="outline">
            <mat-label>Unit</mat-label>
            <mat-select placeholder="Unit" formControlName="unitId" *ngIf="unitList.length">
                <mat-option *ngFor="let item of unitList" [value]="item.id">
                    {{item.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>

<div *ngIf="compositeTerm && compositeTerm.items.length">
    <app-selected-terms-order></app-selected-terms-order>
</div>

<app-selected-terms-table></app-selected-terms-table>


