<div class="stepper-container">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Search for BEDES Terms
                </mat-panel-title>
                <mat-panel-description>
                    Select BEDES Terms from the table below
                    to add to your composite term.
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="content-container">
                <app-bedes-search-parameters></app-bedes-search-parameters>
                <app-select-terms-table></app-select-terms-table>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Selected Terms
                </mat-panel-title>
                <mat-panel-description>
                    Order terms after you've selected.
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="content-container">
                <app-selected-terms-table></app-selected-terms-table>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
