<mat-card class="bedes-container">
    <mat-card-header>
        <span class="bedes-container-title">
                <fa-icon [icon]="['fas', 'key']"></fa-icon>
                Reset Password
        </span>
    </mat-card-header>

    <mat-card-content style="">
        <form id="form" [formGroup]="dataForm">
            <div style="display:flex; flex-direction: column;">
                <mat-form-field style="flex:1" appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput
                    type="password"
                    #passwordControl
                    placeholder="Enter your New Password"
                    formControlName="password">
                </mat-form-field>
                <mat-form-field style="flex:1" appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput
                    type="password"
                    #passwordConfirmControl
                    placeholder="Confirm Password"
                    formControlName="passwordConfirm">
                </mat-form-field>
            </div>

            <!-- Error Message -->
            <div class="alert-danger" style="margin-top:10px;" *ngIf="hasError">
                <h3 style="margin: 0; padding:0;">
                    <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
                    {{errorMessage}}
                </h3>
            </div>

            <!-- Success Message -->
            <div class="alert-success" style="margin-top:10px;" *ngIf="updateSuccess">
                <div style="margin: 0; padding:0;">
                    <fa-icon [icon]="['fas', 'check']"></fa-icon>
                    Your password has been reset, you can now log in to your account
                    and use the BEDES Manager.
                </div>
            </div>
        </form>

        <mat-card-actions>
            <div style="text-align: center; margin-top: 10px;">
                <button mat-flat-button color="accent"
                style="margin-right: 5px;"
                [disabled]="waitingForResponse"
                [routerLink]="['/home']">
                    <fa-icon [icon]="['fas', 'chevron-circle-left']"></fa-icon>
                    Back to Login
                </button>

                <button
                mat-flat-button
                color="primary"
                [disabled]="dataForm.invalid || passwordControl.value !== passwordConfirmControl.value || updateSuccess"
                (click)="updatePassword()">
                    <fa-icon [icon]="['fas', 'sign-in-alt']" *ngIf="!waitingForResponse"></fa-icon>
                    <fa-icon [icon]="['fas', 'spinner']" [spin]="true" *ngIf="waitingForResponse"></fa-icon>
                    Update Password
                </button>
            </div>

        </mat-card-actions>

    </mat-card-content>
</mat-card>
