<div style="display:flex; flex-direction: column; margin: 10px;">
    <mat-card class="bedes-card mat-typography" style="flex: 1;">
        <mat-card-header class="color-accent">
            <mat-card-title>
                <h1 class="mat-dislay-1">
                    Application Mappings
                </h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>
                <router-outlet></router-outlet>
            </div>
        </mat-card-content>
    </mat-card>
</div>
