<div class="mat-typography" style="display:flex; flex-direction: column; flex: 1; margin: 10px;">
    <mat-card class="bedes-card mat-typography" style="flex: 1;">
        <mat-card-header class="color-accent">
            <mat-card-title>
                <h1 class="mat-display-1">
                    <span *ngIf="activeApp">
                        {{ activeApp.name }}
                    </span>
                    <span *ngIf="!activeApp">
                        Select an Application
                    </span>
                </h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <router-outlet></router-outlet>
        </mat-card-content>
    </mat-card>
</div>
