<div class="mat-typography" style="display:flex; flex-direction: column; flex: 1; margin: 10px;">
    <mat-card class="bedes-card mat-typography" style="flex: 1;">
        <mat-card-header class="color-accent">
            <mat-card-title>
                <h1 class="mat-display-1">
                    {{ activeApp.name }}
                </h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <nav mat-tab-nav-bar>
                <a mat-tab-link
                [routerLink]="['./terms']"
                routerLinkActive #rla="routerLinkActive"
                [active]="rla.isActive">
                    Terms
                </a>
                <a mat-tab-link
                *ngIf="areApplicationOptionsVisible()"
                [routerLink]="['./edit']"
                routerLinkActive #rlaEdit="routerLinkActive"
                [active]="rlaEdit.isActive">
                    Application Options
                </a>
            </nav>

            <router-outlet></router-outlet>

        </mat-card-content>
    </mat-card>
</div>
