<div style="display:flex; flex-direction: row; justify-content: center;">
    <button mat-flat-button color="primary"
    color="primary"
    [disabled]="!isEditable || isWaiting"
    (click)="openTermSearchDialog()">
        Select BEDES Term(s)
    </button>
</div>

<mat-card class="bedes-container" *ngIf="compositeTerm && compositeTerm.items.length">
    <mat-card-header>
        <span class="bedes-container-title">
            BEDES Terms
        </span>
    </mat-card-header>

    <mat-card-content style="flex:1; display: flex; flex-direction:column;">
        <app-selected-terms-order></app-selected-terms-order>
    </mat-card-content>
</mat-card>

<mat-card class="bedes-container" *ngIf="compositeTerm && compositeTerm.items.length">
    <mat-card-header>
        <span class="bedes-container-title">
            Details
        </span>
    </mat-card-header>

    <mat-card-content style="flex:1; display: flex; flex-direction:column;">
        <form [formGroup]="dataForm" style="margin-top:10px" *ngIf="hasSelectedTerms()">
            <div style="flex: 1; display:flex; flex-direction: row;">
                <div style="flex: 1;display: flex; flex-direction: column; align-content: flex-start; margin: 5px;">
                    <!-- Description -->
                    <mat-form-field style="flex:1; margin-bottom:5px;" appearance="outline">
                        <mat-label>Description</mat-label>
                        <textarea matInput placeholder="Enter a Description" formControlName="description" rows="5">
                        </textarea>
                    </mat-form-field>

                    <mat-form-field style="flex:1; margin-bottom:5px;" appearance="outline">
                        <mat-label>UUID</mat-label>
                        <input matInput formControlName="uuid">
                    </mat-form-field>
                </div>

                <div style="flex: 1; display: flex; flex-direction: column; align-content: flex-start; margin: 5px;">
                    <!-- Unit -->
                    <mat-form-field style="flex:1;" appearance="outline">
                        <mat-label>Unit</mat-label>
                        <mat-select placeholder="Unit" formControlName="unitId" *ngIf="unitList.length">
                            <mat-option *ngFor="let item of unitList" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field style="flex:1;" appearance="outline">
                        <mat-label>Sharing</mat-label>
                        <mat-select placeholder="Visibility" formControlName="scopeId">
                            <mat-option *ngFor="let item of scopeList.items " [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>


<div style="text-align: center; margin-top: 10px;">
    <a mat-flat-button [routerLink]="getBackDestination()" color="accent" style="margin-right:5px;">
        <fa-icon [icon]="['fas', 'chevron-circle-left']"></fa-icon>
        Back
    </a>
    <button *ngIf="appTerm && !appTerm.mapping" mat-flat-button color="primary"
            [disabled]="!isEditable || !hasSelectedTerms() || isWaiting || !!appTerm.mapping"
            style="margin-right: 5px"
            (click)="saveAndMapCompositeTerm()">
        <fa-icon [icon]="['fas', 'map-marked-alt']"></fa-icon>
        Save & Map
    </button>
    <button mat-flat-button color="primary"
            [disabled]="!isEditable || !hasSelectedTerms() || !compositeTerm?.hasChanged || isWaiting"
            (click)="saveCompositeTerm()">
        <fa-icon [icon]="['fas', 'save']"></fa-icon>
        Save
    </button>
</div>
