<div class="mat-typography" style="padding:10px;">
    <h2 class="mat-display-1" style="margin: 5px auto; text-align: center;">
        Application Terms
    </h2>

    <!-- AppTerm toolbar -->
    <div style="display:flex; flex-direction: row;">
        <a mat-stroked-button routerLink="/applications">
            <fa-icon [icon]="['fas', 'chevron-circle-left']"></fa-icon>
            Back to Application List
        </a>
        <button mat-stroked-button color="primary"
        [disabled]="!isEditable"
        (click)="newAtomicTerm()">
            <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
            New Term
        </button>
        <button mat-stroked-button color="primary"
        (click)="fileInput.click()"
        [disabled]="!isEditable">
            <fa-icon [icon]="['fas', 'file-import']"></fa-icon>
            Import Application Terms (CSV)
        </button>
        <button mat-raised-button color="primary"
        (click)="saveAllNewAppTerms()"
        *ngIf="isEditable && hasUnsavedAppTerms()"
        [matBadge]="numberOfNewTerms()" matBadgePosition="after" matBadgeColor="accent">
            <fa-icon [icon]="['fas', 'save']"></fa-icon>
            Save All New AppTerms
        </button>
    </div>

    <!-- Alerts/messages -->
    <!-- No terms message -->
    <div class="alert-accent" style="margin-top:10px;"
    *ngIf="isEditable && (!appTermList || !appTermList.length)">
        <h3 style="margin: 0; padding:0;">
            <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
            No terms have been defined, click the <strong>Create New Term</strong>
            button to create a new term and mapping.
        </h3>
    </div>
    <!-- Guest and no applications message -->
    <div class="alert-danger" style="margin-top:10px;"
    *ngIf="!isEditable">
    <!-- *ngIf="!isEditable && (!appTermList || !appTermList?.length)"> -->
        <h3 style="margin: 0; padding:0;">
            <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
            There are no terms available for view.
            <!-- You can <a [routerLink]="['/home/request-account']">click here to request an account</a>
            to begin mapping your own applications and terms. -->
        </h3>
    </div>
    <!-- Error message -->
    <div class="alert-danger" style="margin-top:10px;"
    *ngIf="hasError && errorMessage">
        <h3 style="margin: 0; padding:0;">
            <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
            {{errorMessage}}
        </h3>
    </div>
    <!-- The grid -->
    <div style=" overflow: hidden; flex-grow: 1" style="margin-top:10px;" *ngIf="isEditable && appTermList && appTermList.length">
        <ag-grid-angular #agGrid id="myGrid"
        style="width: 100%; height: 700px;"
        [gridOptions]="gridOptions"
        [context]="tableContext"
        class="ag-theme-balham">
        </ag-grid-angular>
    </div>

    <!-- The file upload control, button at the top of the page calls the click method -->
    <input type="file"
    name="fileUploadInput"
    (change)="fileSelected($event);"
    style="display:none;"
    #fileInput />
</div>
