@use '@angular/material' as mat;
@import "src/styles/theme";
@import "src/styles/heading-container";

:host {
    flex: 1;
    display: flex;
    flex-direction: column;
    // min-height: calc(100vh - 64px - 62px);
    // box-sizing: border-box;
}
h2 {
    text-align: center;
}

.span-value {
    background-color: mat.get-color-from-palette($custom-primary);
    padding: 10px;
    color: white;
}

.app-term-toolbar {
    * {
        margin-right: 5px;
    }
}

