<div class="mat-typography" style="display:flex;">
    <mat-card class="bedes-content-card mat-elevation-z0" style="margin:10px 0 10px 0; flex: 1;">
        <mat-card-header>
            <mat-card-title>
                <h2>
                    <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
                    Application List
                </h2>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div style="display:flex;">
                <a mat-stroked-button color="primary" [routerLink]="['../new']">
                    <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
                    New
                </a>
                <button mat-stroked-button color="primary" (click)="editSelectedItem()" [disabled]="!selectedItem">
                    <fa-icon [icon]="['fas', 'edit']"></fa-icon>
                    Edit
                </button>
                <button mat-stroked-button color="primary" [disabled]="!selectedItem" (click)="removeSelectedItem()">
                    <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                    Remove Selected
                </button>

            </div>
            <div style="display: flex; flex-direction: row" *ngIf="applicationList?.length">
                <div style=" overflow: hidden; flex-grow: 1">
                    <ag-grid-angular #agGrid style="width: 100%; height: 700px;" id="myGrid" [gridOptions]="gridOptions"
                        [context]="tableContext" class="ag-theme-material">
                    </ag-grid-angular>
                </div>
            </div>
            <div class="alert-danger" style="margin-top:10px;" *ngIf="!applicationList || !applicationList?.length">
                <h3 style="margin: 0; padding:0;">
                    <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
                    No list options have been defined, click the <strong>New</strong>
                    button to create list options.
                </h3>
            </div>
        </mat-card-content>
    </mat-card>
</div>
