<mat-card class="bedes-container">
    <mat-card-header>
        <span class="bedes-container-title">
            <fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon>
            Login
        </span>
    </mat-card-header>

    <mat-card-content>
        <form novalidate #myForm="ngForm">
            <div style="display:flex; margin-bottom: 0;">
                <mat-form-field style="flex:1; padding: 3px" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Enter your Email Address"
                    type="text"
                    name="emailInput"
                    #emailInput="ngModel"
                    required
                    [(ngModel)]="userLogin.email">
                </mat-form-field>
            </div>
            <div style="display:flex; flex-direction: column; margin-bottom: 10px;">
                <mat-form-field style="flex:1; margin: 0;" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Enter your Password" type="password"
                    name="passwordInput"
                    #passwordInput="ngModel"
                    required
                    (keyup.enter)="login()"
                    [(ngModel)]="userLogin.password">
                </mat-form-field>
            </div>

            <!-- <div class="error-container" *ngIf="loginErrorMessage">
                <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
                {{ loginErrorMessage }}
            </div> -->
            <div class="alert-danger" style="margin-top:10px;" *ngIf="loginErrorMessage">
                <div style="margin: 0; padding:0;">
                    <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
                    {{ loginErrorMessage }}
                </div>
            </div>
            <div id="loginSuccessMessage" class="success-container" *ngIf="loginSuccess">
                <fa-icon [icon]="['fas', 'check']"></fa-icon>
                Login successfull!
            </div>
        </form>
        <mat-card-actions style="display: flex; flex-direction: column;">
            <div style="text-align: center">
                <button
                mat-flat-button
                id="loginBtn"
                color="primary"
                [disabled]="myForm.invalid"
                style="margin-right:7px;"
                (click)="login()">
                    <fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon>
                    Submit
                </button>

                <button mat-flat-button color="accent"
                routerLink="/home/request-account">
                    <fa-icon [icon]="['fas', 'user-plus']"></fa-icon>
                    Request an Account
                </button>
            </div>

            <div style="text-align: center; margin-top: 7px;">
                <a class="forgot-password" routerLink="/home/password-reset">
                    Forgot Password
                </a>
            </div>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
