<mat-card class="bedes-card bedes-content-card mat-elevation-z0" style="flex:1; padding:0">
    <span class="bedes-card-title" style="position: relative; top: -10px; margin-left:20px; font-size:1.2rem">
        <fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon>
        Login
    </span>

    <mat-card-content style="padding:1rem; flex:1">
        <form novalidate #myForm="ngForm">
            <div style="display:flex; margin-bottom: 0;">
                <mat-form-field style="flex:1; padding: 3px" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Enter your Email Address"
                    type="text"
                    name="emailInput"
                    #emailInput="ngModel"
                    required
                    [(ngModel)]="userLogin.email">
                </mat-form-field>
            </div>
            <div style="display:flex; flex-direction: column; margin-bottom: 10px;">
                <mat-form-field style="flex:1; margin: 0;" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Enter your Password" type="password"
                    name="passwordInput"
                    #passwordInput="ngModel"
                    required
                    [(ngModel)]="userLogin.password">
                </mat-form-field>
                <span>
                    Forgot Password
                </span>
            </div>

            <!-- <div class="error-container" *ngIf="loginErrorMessage">
                <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
                {{ loginErrorMessage }}
            </div> -->
            <div class="alert-danger" style="margin-top:10px;" *ngIf="loginErrorMessage">
                <div style="margin: 0; padding:0;">
                    <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
                    {{ loginErrorMessage }}
                </div>
            </div>
            <div id="loginSuccessMessage" class="success-container" *ngIf="loginSuccess">
                <fa-icon [icon]="['fas', 'check']"></fa-icon>
                Login successfull!
            </div>
        </form>
        <mat-card-actions style="display:flex; flex-direction:column; padding: 0;">
            <div style="flex:1; display:flex; flex-direction: row;">
                <button style="flex: 1;"
                mat-flat-button
                id="loginBtn"
                color="primary"
                [disabled]="myForm.invalid"
                (click)="login()">
                    <fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon>
                    Submit
                </button>
                <!-- <button mat-flat-button color="primary"
                style="flex: 1; margin-right:5px;"
                [disabled]="true"
                (click)="forgotPassword()">
                    Forgot Password?
                </button> -->
                <button mat-flat-button color="accent"
                style="flex:1;"
                routerLink="/home/request-account">
                    Request an Account
                </button>
            </div>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
