@use '@angular/material' as mat;
@import "src/styles/theme";

.error-container {
    color: mat.get-color-from-palette($custom-danger);
}

.bedes-card-title {
    background-color: white;
    padding: 10px;
    color: mat.get-color-from-palette($custom-primary);
}

.mat-form-field .mat-form-field-wrapper {
    padding: 0;
}

div.mat-form-field-wrapper {
    padding: 0;
}

.forgot-password {
    cursor: pointer;
    text-decoration: underline;
}
