/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
/**
*   Global Style Sheet
*   Do not import this file from components
*/

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();
@import "./styles/theme";
// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@include mat.all-legacy-component-themes($custom-theme);
@import "./styles/bedes-container";
@import "./styles/bedes-header";

@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-material.css";
@import "ag-grid-community/styles/ag-theme-balham.css";

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.body-content {
    padding-top: 64px;
    height: calc(100vh - 64px - 50px);
    overflow-y: scroll;
}

.main_content {
    flex: 1;
}

footer.bedes-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    background-color: mat.get-color-from-palette($custom-accent);
    color: white;
}

// div.mat-form-field-wrapper {
//     padding: 0;
// }

.dialog-waiting .mat-dialog-container {
    overflow: visible;
    background: rgba(255, 255, 255, 0);
    box-shadow: none;
}

.dialog-no-padding .mat-dialog-container {
    padding: 0;
}

.dialog-content-flex .mat-dialog-container {
    display: flex;
    padding: 0;
}

.dialog-waiting .mat-dialog-container {
    overflow: visible;
    background: rgba(255, 255, 255, 0);
    box-shadow: none;
}

// Color classes
.color-primary {
    background-color: mat.get-color-from-palette($custom-primary);
    //   color: white;
}

.color-accent {
    background-color: mat.get-color-from-palette($custom-accent);
    //   color: white;
}

.color-warn {
    background-color: mat.get-color-from-palette($custom-warn);
    //   color: white;
}

.color-success {
    background-color: mat.get-color-from-palette($custom-success);
}

.color-danger {
    background-color: mat.get-color-from-palette($custom-danger);
}

.color-accent-200 {
    background-color: mat.get-color-from-palette($custom-accent, 200);
    //   color: white;
}

.font-color-primary {
    color: mat.get-color-from-palette($custom-primary);
}

.font-color-accent {
    color: mat.get-color-from-palette($custom-accent);
}
.border-color-accent {
    color: mat.get-color-from-palette($custom-accent);
    border: 2px mat.get-color-from-palette($custom-accent) solid;
}

.font-color-warn {
    color: mat.get-color-from-palette($custom-warn);
}
.font-color-danger {
    color: mat.get-color-from-palette($custom-danger);
}

.border-color-warn {
    color: mat.get-color-from-palette($custom-warn);
    border: 2px mat.get-color-from-palette($custom-warn) solid;
}

.font-color-success {
    color: mat.get-color-from-palette($custom-success);
}
.border-color-success {
    color: mat.get-color-from-palette($custom-success);
    border: 2px mat.get-color-from-palette($custom-success) solid;
}

// Alerts
div.alert-success {
    border: 2px mat.get-color-from-palette($custom-success, 700) solid;
    border-radius: 5px;
    padding: 7px;
    text-align: center;
    // background-color: mat-color($custom-success, lighter);
    color: mat.get-color-from-palette($custom-success, 700);
}

div.alert-danger {
    border: 2px mat.get-color-from-palette($custom-danger, 700) solid;
    border-radius: 5px;
    padding: 7px;
    text-align: center;
    // background-color: mat-color($custom-danger, lighter);
    color: mat.get-color-from-palette($custom-danger, 700);
}

div.alert-warn {
    border: 2px mat.get-color-from-palette($custom-warn, 700) solid;
    border-radius: 5px;
    padding: 7px;
    text-align: center;
    // background-color: mat-color($custom-warn, lighter);
    color: mat.get-color-from-palette($custom-warn, 700);
}

div.alert-accent {
    border: 2px mat.get-color-from-palette($custom-accent, 700) solid;
    border-radius: 5px;
    padding: 7px;
    text-align: center;
    // background-color: mat-color($custom-accent, lighter);
    color: mat.get-color-from-palette($custom-accent, 700);
}

.mat-card:not([class*="mat-elevation-z"]) {
    box-shadow: none;
}

// Cards
// .card {
//     border-radius: 0px;
//     box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.5);
// }

// .card .card {
//     box-shadow:none;
// }

// Custom Card formatting

mat-card.bedes-card {
    @include mat.elevation(5);
    margin: 0;
    margin-bottom: 0;
    padding: 0;
    box-shadow: 0;
}

mat-card.bedes-content-card {
    @include mat.elevation(0);
    margin: 0;
    margin-bottom: 0;
    padding: 0;
    box-shadow: 0;
}

// mat-card:not([class*='mat-elevation-z']) {
//     box-shadow: 0;
//     border: 1px red solid;
// }

// .my-class-with-custom-shadow {
//   // Adds a shadow for elevation level 2 with color #e91e63 and 80% of the default opacity:
//   @include mat-elevation(2, #e91e63, 0.8);
// }

mat-card.bedes-card mat-card-header {
    display: block;
    padding: 13px;

    .mat-card-header-text {
        margin: 0;
        mat-card-title {
            margin: 0;
            h1,
            h2,
            h3,
            h4,
            h5 {
                margin: 0;
                color: white;
            }
        }
    }
}

mat-card.bedes-content-card mat-card-header {
    display: block;
    padding: 13px;
    // background-color: lightgray;

    .mat-card-header-text {
        margin: 0;
        mat-card-title {
            margin: 0;
            h1,
            h2,
            h3,
            h4,
            h5 {
                margin: 0;
                color: black;
            }
        }
    }
}

mat-card.bedes-card mat-card-header.color-primary {
    background-color: mat.get-color-from-palette($custom-primary);
    color: mat.get-color-from-palette($custom-primary, lighter-contrast);
}

mat-card.bedes-card mat-card-header.color-accent {
    background-color: mat.get-color-from-palette($custom-accent);
    color: mat.get-color-from-palette($custom-accent, lighter-contrast);
}

mat-card.bedes-card mat-card-header.color-warn {
    background-color: mat.get-color-from-palette($custom-warn);
    color: mat.get-color-from-palette($custom-warn, lighter-contrast);
}

// mat-card.bedes-card mat-card-header.color-accent-2  {
//     background-color: mat-color($custom-accent-2);
//     color: mat-color($custom-accent-2, lighter-contrast);
// }

mat-card.bedes-card mat-card-title {
    width: 100%;
    text-align: center;
}

mat-card.bedes-card mat-card-content {
    padding: 10px;
}

mat-card mat-card-content.bedes-content-bordered {
    border: 1px lightgray solid;
    border-radius: 15px;
}

mat-card.bedes-card mat-card-actions {
    margin: 0;
    padding: 1rem;
}

mat-card.bedes-card > .mat-card-actions:last-child {
    margin-bottom: 0;
    padding-bottom: 1rem;
}

mat-card.bedes-content-card mat-card-title {
    width: 100%;
    text-align: center;
}

mat-card.bedes-content-card mat-card-content {
    padding: 10px;
    // border: 1px lightgray solid;
    border-top: none;
}

mat-card.bedes-content-card mat-card-actions {
    margin: 0;
    padding: 1rem;
}

mat-card.bedes-content-card > .mat-card-actions:last-child {
    margin-bottom: 0;
    padding-bottom: 1rem;
}

mat-card.bedes-content-card {
    @include mat.elevation(0);
    border: 1px mat.get-color-from-palette($custom-primary) solid;
}

// expansion panel
mat-expansion-panel mat-expansion-panel-header {
    background-color: mat.get-color-from-palette($custom-accent, 200);
}
