/* You can add global styles to this file, and also import other style files */
/**
*   Global Style Sheet
*   Do not import this file from components
*/

@import '~@angular/material/theming';
@include mat-core();
@import "./styles/theme";
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

.main_content {
    flex: 1;
}


.dialog-waiting .mat-dialog-container {
    overflow: visible;
    background: rgba(255, 255, 255, 0);
    box-shadow:none;
}

.dialog-no-padding .mat-dialog-container {
    padding:0;
}

.dialog-waiting .mat-dialog-container {
    overflow: visible;
    background: rgba(255, 255, 255, 0);
    box-shadow:none;
}

.card {
    border-radius: 10px;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.5);
}

.card .card {
    box-shadow:none;
}

// Custom Card formatting

mat-card.bedes-card {
    margin:0;
    margin-bottom: 0;
    padding:0;
    box-shadow: 0;
}

mat-card.bedes-content-card {
    margin:0;
    margin-bottom: 0;
    padding:0;
    box-shadow: 0;
}

// mat-card:not([class*='mat-elevation-z']) {
//     box-shadow: 0;
//     border: 1px red solid;
// }

// .my-class-with-custom-shadow {
//   // Adds a shadow for elevation level 2 with color #e91e63 and 80% of the default opacity:
//   @include mat-elevation(2, #e91e63, 0.8);
// }


mat-card.bedes-card mat-card-header {
    display:block;
    padding: 13px;

    .mat-card-header-text {
        margin: 0;
        mat-card-title {
            margin: 0;
            h1,h2,h3,h4,h5 {
                margin: 0;
                color: black;
            }
        }
    }
}

mat-card.bedes-content-card mat-card-header {
    display:block;
    padding: 13px;
    background-color: lightgray;

    .mat-card-header-text {
        margin: 0;
        mat-card-title {
            margin: 0;
            h1,h2,h3,h4,h5 {
                margin: 0;
                color: black;
            }
        }
    }
}


mat-card.bedes-card mat-card-header.color-primary  {
    background-color: mat-color($custom-primary);
    color: mat-color($custom-primary, lighter-contrast);
}

mat-card.bedes-card mat-card-header.color-accent  {
    background-color: mat-color($custom-accent);
    color: mat-color($custom-accent, lighter-contrast);
}

mat-card.bedes-card mat-card-header.color-warn {
    background-color: mat-color($custom-warn);
    color: mat-color($custom-warn, lighter-contrast);
}

// mat-card.bedes-card mat-card-header.color-accent-2  {
//     background-color: mat-color($custom-accent-2);
//     color: mat-color($custom-accent-2, lighter-contrast);
// }

mat-card.bedes-card mat-card-title {
    width: 100%;
    text-align: center;
}

mat-card.bedes-card mat-card-content {
    padding: 10px;
}

mat-card mat-card-content.bedes-content-bordered {
    border: 1px lightgray solid;
    border-radius: 15px;
}

mat-card.bedes-card mat-card-actions {
    margin:0;
    padding: 1rem;
}

mat-card.bedes-card>.mat-card-actions:last-child {
    margin-bottom: 0;
    padding-bottom: 1rem;
}

mat-card.bedes-content-card mat-card-title {
    width: 100%;
    text-align: center;
}

mat-card.bedes-content-card mat-card-content {
    padding: 10px;
    border: 1px lightgray solid;
    border-top: none;
}

mat-card.bedes-content-card mat-card-actions {
    margin:0;
    padding: 1rem;
}

mat-card.bedes-content-card>.mat-card-actions:last-child {
    margin-bottom: 0;
    padding-bottom: 1rem;
}


// expansion panel
mat-expansion-panel mat-expansion-panel-header {
    background-color: mat-color($custom-accent, 200)
}
