
<div class="heading-container">
    <h1>
        Application Options
    </h1>
</div>


<div style="display:flex; flex-direction: row; margin-bottom: 10px;">
    <a mat-flat-button routerLink="/applications" color="accent">
        <fa-icon [icon]="['fas', 'chevron-circle-left']"></fa-icon>
        Back to Application List
    </a>
    <button mat-flat-button color="primary"
    (click)="updateApplication()"
    [disabled]="!dataHasChanged() || !canEditApplication()">
        <fa-icon [icon]="['fas', 'save']"></fa-icon>
        Save
    </button>

</div>

<!-- Application successfully updated -->
<div class="alert-success"
     style="margin: 10px 0 10px 0; text-align:left;"
     *ngIf="currentRequestStatus === RequestStatus.Success">
    <span style="font-weight:bold; padding-right:10px;">Status:</span>
    <span>
                <fa-icon [icon]="['fas', 'check']"></fa-icon>
                Application successfully updated.
            </span>
</div>
<div class="alert-danger" style="margin-top:10px;" *ngIf="hasError && errorMessage">
    <h3 style="margin: 0; padding:0;">
        <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
        {{errorMessage}}
    </h3>
</div>

<form #theForm="ngForm" [formGroup]="dataForm" style="display:flex; flex-direction: column; margin-top:10px">
    <mat-form-field style="flex:1; margin-bottom:5px;" appearance="outline" hintLabel="* Required">
        <mat-label>Application Name</mat-label>
        <input matInput placeholder="Application Name" formControlName="name">
    </mat-form-field>
    <mat-form-field style="flex:1; margin-bottom:5px;" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Description" formControlName="description" rows="5"></textarea>
    </mat-form-field>
    <div style="display:flex; flex-direction: row;" *ngIf="scopeList.length">
        <mat-form-field style="flex:1;" appearance="outline">
            <mat-label>Sharing</mat-label>
            <mat-select placeholder="Scope" formControlName="scopeId">
                <mat-option *ngFor="let item of scopeList" [value]="item.id">
                    {{item.name}}
                </mat-option>
            </mat-select>
            <mat-hint>* Contact BEDES Admistrators to make the applicatoin public.</mat-hint>
        </mat-form-field>
    </div>
</form>


