<div class="mat-typography" style="display:flex;">
    <mat-card class="bedes-content-card mat-elevation-z0" style="margin:10px 0 10px 0; flex: 1;">
        <mat-card-content>
            <h1 style="text-align: center;">New List Option</h1>
            <div>
                <button mat-stroked-button (click)="back()" *ngIf="currentRequestStatus !== RequestStatus.Pending">
                    <fa-icon [icon]="['fas', 'chevron-circle-left']"></fa-icon>
                    Back to List Options
                </button>
                <button mat-stroked-button color="primary"
                [disabled]="dataForm.invalid || currentControlState !== ControlState.Normal"
                (click)="saveListOption()"
                *ngIf="currentRequestStatus !== RequestStatus.Success">
                    <fa-icon [icon]="['fas', 'save']"></fa-icon>
                    Save New List Option
                </button>
            </div>
            <!-- Messages -->
            <div style="min-height: 38px;">
                <!-- Required fields Message -->
                <div class="alert-warn" style="margin: 10px 0 10px 0; text-align:left;"*ngIf="currentRequestStatus === RequestStatus.Idle && dataForm.invalid">
                    <span style="font-weight:bold; padding-right:10px;">Status:</span>
                    <span>
                        <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
                        Missing required fields.
                    </span>
                </div>
                <!-- <div class="alert-accent" style="margin: 10px 0 10px 0; text-align:left;" *ngIf="currentRequestStatus === RequestStatus.Idle && dataForm.valid">
                    <span style="font-weight:bold; padding-right:10px;">Status:</span>
                    <span>
                        <fa-icon [icon]="['fas', 'check']"></fa-icon>
                        Ready to save.
                    </span>
                </div> -->
                <div class="alert-success" style="margin: 10px 0 10px 0; text-align:left;" *ngIf="currentRequestStatus === RequestStatus.Success">
                    <span style="font-weight:bold; padding-right:10px;">Status:</span>
                    <span>
                        <fa-icon [icon]="['fas', 'check']"></fa-icon>
                        List option successfully created.
                    </span>
                </div>
                <div class="alert-danger" style="margin: 10px 0 10px 0; text-align:left;" *ngIf="currentRequestStatus === RequestStatus.Error">
                    <span style="font-weight:bold; padding-right:10px;">Status:</span>
                    <span>
                        <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
                        An error occured creating the list option.
                    </span>
                </div>
                <!-- <div class="alert-accent" style="margin: 10px 0 10px 0; text-align:left;"
                *ngIf="currentRequestStatus === RequestStatus.Pending">
                    <span style="font-weight:bold; padding-right:10px;">Status:</span>
                    <span>
                        <fa-icon [icon]="['fas', 'spinner']" [spin]="true" [size]="lg"></fa-icon>
                        Waiting...
                    </span>
                </div> -->
            </div>
            <form [formGroup]="dataForm" style="display:flex; flex-direction: column; margin-top:10px">
                <mat-form-field style="flex:1; margin-bottom:5px;" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Display Name" formControlName="name">
                </mat-form-field>
                <mat-form-field style="flex:1; margin-bottom:5px;" appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput placeholder="Description" formControlName="description" rows="5"></textarea>
                </mat-form-field>
                <mat-form-field style="flex:1; margin-bottom:5px;" appearance="outline">
                    <mat-label>UUID</mat-label>
                    <input matInput formControlName="uuid">
                </mat-form-field>
            </form>
        </mat-card-content>
    </mat-card>
</div>
