<mat-card class="bedes-card bedes-content-card mat-elevation-z0" style="flex:1; padding:0">
    <span class="bedes-card-title" style="position: relative; top: -10px; margin-left:20px; font-size:1.2rem">
        Verify Account
    </span>
    <mat-card-content style="flex:1">
        <form id="form" [formGroup]="dataForm">
            <div style="display:flex">
                <mat-form-field style="flex:1;" appearance="outline">
                    <mat-label>Verification Code</mat-label>
                    <input matInput
                    placeholder="Enter your Verification Code"
                    formControlName="verificationCode">
                </mat-form-field>
            </div>

            <div class="error-container" *ngIf="verifyErrorMessage">
                <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
                {{ verifyErrorMessage }}
            </div>
            <div id="verifySuccessMessage" class="success-container" *ngIf="verifySuccess">
                <fa-icon [icon]="['fas', 'check']"></fa-icon>
                Login successfull!
            </div>
        </form>
    </mat-card-content>

    <mat-card-actions style="display:flex; flex-direction: column;">
        <div style="flex: 1; display: flex; margin-bottom: 5px;">
            <button style="flex: 1;"
            mat-flat-button
            id="loginBtn"
            color="primary"
            [disabled]="dataForm.invalid"
            (click)="verify()">
                <fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon>
                Verify Code
            </button>
        </div>
        <div style="display:flex; flex-direction: row; flex: 1;">
            <button mat-flat-button color="accent"
            style="flex: 1; margin-right:5px;"
            (click)="newVerificationCode()">
                Request New Code
            </button>
            <button mat-flat-button color="accent"
            style="flex:1;"
            (click)="logout()">
                Logout
            </button>
        </div>
    </mat-card-actions>

</mat-card>
