<mat-toolbar color="primary" style="display:flex; position:fixed; z-index:1000">
    <mat-toolbar-row style="display:flex;">
        <span style="margin-right:7px;">BEDES Manager</span>
        <span>
            <a  mat-button [routerLink]="['search']" routerLinkActive="active-route">
                Search for Terms
            </a>
            <button mat-button [routerLink]="['term-builder']" routerLinkActive="active-route">
                Composite Term
            </button>
            <button mat-button [routerLink]="['applications']" routerLinkActive="active-route">
                Applications
            </button>
            <button mat-button [matMenuTriggerFor]="menu">
                Admin
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="['list-management']" #menuButtonManageLists>
                    <fa-icon [icon]="['fas', 'list']"></fa-icon>
                    Manage Lists
                </button>
            </mat-menu>
        </span>
        <span style="flex:1;"></span>
        <!-- <span style="padding-right:15px;">currentStatus = {{currentStatus}} === {{UserStatus.IsLoggedIn}}</span> -->
        <span *ngIf="currentStatus === UserStatus.NotLoggedIn">
            <!-- <button mat-button (click)="logout()">Login</button> -->
            <a mat-button [routerLink]="['/login']" routerLinkActive="active">
                <fa-icon [icon]="['fas', 'sign-in']" size="lg"></fa-icon>
            </a>
        </span>

        <span *ngIf="currentStatus === UserStatus.NeedsVerify || currentStatus === UserStatus.IsLoggedIn">
            <!-- <button mat-button (click)="logout()">Logout</button> -->
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <fa-icon [icon]="['fas', 'user-plus']" size="lg" *ngIf="currentStatus === UserStatus.NeedsVerify"></fa-icon>
                <fa-icon [icon]="['fas', 'shield-check']" size="lg" *ngIf="currentStatus === UserStatus.IsLoggedIn"></fa-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="logout()">
                    <!-- <mat-icon>dialpad</mat-icon> -->
                    <span>Logout</span>
                </button>
                <button mat-menu-item>
                    <!-- <mat-icon>notifications_off</mat-icon> -->
                    <span>Disable alerts</span>
                </button>
            </mat-menu>
        </span>
    </mat-toolbar-row>
</mat-toolbar>
