<mat-toolbar color="primary" style="display:flex; position:fixed; z-index:1000">
    <mat-toolbar-row style="display:flex;">
        <span style="margin-right:7px;">
            BEDES Mapping Manager
        </span>
        <span>
            <a  mat-button [routerLink]="['search']" routerLinkActive="active-route">
                Search for Terms
            </a>
            <button mat-button [routerLink]="['term-builder']" routerLinkActive="active-route">
                Composite Term
            </button>
            <button mat-button [routerLink]="['applications']" routerLinkActive="active-route">
                Applications
            </button>
            <button mat-button [matMenuTriggerFor]="menu">
                Admin
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="['list-management']" #menuButtonManageLists>
                    <fa-icon [icon]="['fas', 'list']"></fa-icon>
                    Manage Lists
                </button>
            </mat-menu>
        </span>
        <span style="flex:1;"></span>
        <!-- <span style="padding-right:15px;">currentStatus = {{currentStatus}} === {{UserStatus.IsLoggedIn}}</span> -->
        <span *ngIf="currentUser.isGuest()">
            <!-- <button mat-button (click)="logout()">Login</button> -->
            <a mat-button [routerLink]="['/home']" routerLinkActive="active">
                <fa-icon [icon]="['fas', 'sign-in-alt']" size="lg"></fa-icon>
                Guest
            </a>
        </span>

        <span *ngIf="currentUser.needsVerify()">
            <fa-icon [icon]="['fas', 'exclamationTriangle']" size="lg"></fa-icon>
            Verify Account
        </span>
        <span *ngIf="currentUser.isLoggedIn()">
            <!-- <button mat-button (click)="logout()">Logout</button> -->
            <button mat-button [matMenuTriggerFor]="menu">
                <!-- <fa-icon [icon]="['fas', 'user-plus']" size="lg"
                *ngIf="currentUser.needsVerify()">
                </fa-icon> -->
                <fa-icon [icon]="['fas', 'shield-alt']" size="lg">
                </fa-icon>
                {{currentUser.name}}
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="logout()">
                    <fa-icon [icon]="['fas', 'sign-out-alt']">
                    </fa-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>
        </span>
    </mat-toolbar-row>
</mat-toolbar>
