<mat-card class="bedes-container">
    <mat-card-header>
        <span class="bedes-container-title">
                <fa-icon [icon]="['fas', 'key']"></fa-icon>
                Reset Password
        </span>
    </mat-card-header>
    <mat-card-content>
        <form #myForm="ngForm" [formGroup]="dataForm">
            <div style="display:flex; flex-direction: column;">
                <mat-form-field style="flex:1" appearance="outline">
                    <mat-label>Email Address</mat-label>
                    <input matInput
                    #email
                    placeholder="Email Address"
                    (keyup.enter)="resetPassword()"
                    formControlName="emailAddress">
                </mat-form-field>
            </div>

            <!-- Error Message -->
            <div class="alert-danger" style="margin-top:10px;" *ngIf="hasError">
                <h3 style="margin: 0; padding:0;">
                    <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
                    {{errorMessage}}
                </h3>
            </div>

            <!-- Success Message -->
            <div class="alert-success" style="margin-top:10px;" *ngIf="updateSuccess">
                <div style="margin: 0; padding:0;">
                    <fa-icon [icon]="['fas', 'check']"></fa-icon>
                    Your password has been reset.
                    A message has been sent to your account email address with instructions on how
                    to set your new password.
                </div>
            </div>
        </form>

        <mat-card-actions>

            <div style="text-align: center; margin-top: 10px;">
                <button mat-flat-button color="accent"
                style="margin-right: 5px;"
                [disabled]="waitingForResponse"
                [routerLink]="['/home']">
                    <fa-icon [icon]="['fas', 'chevron-circle-left']"></fa-icon>
                    Back to Login
                </button>

                <button mat-flat-button color="primary"
                [disabled]="!myForm.valid || waitingForResponse || updateSuccess"
                (click)="resetPassword()">
                <fa-icon [icon]="['fas', 'sign-in-alt']" *ngIf="!waitingForResponse"></fa-icon>
                <fa-icon [icon]="['fas', 'spinner']" [spin]="true" *ngIf="waitingForResponse"></fa-icon>
                    Reset Password
                </button>
            </div>

        </mat-card-actions>

    </mat-card-content>
</mat-card>
