<div class="mat-typography" style="display:flex;">
    <mat-card class="bedes-card" style="margin:10px; flex: 1;">
        <mat-card-header class="color-accent">
            <mat-card-title>
                <h1>
                    Bedes Term
                </h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h1 class="mat-h1" style="text-align: center;">
                {{term?.name}}
            </h1>
            <app-bedes-term-details-definition></app-bedes-term-details-definition>
            <div *ngIf="term?.dataTypeId === BedesDataType.ConstrainedList">
                <router-outlet></router-outlet>
            </div>
        </mat-card-content>
    </mat-card>
</div>
