
<div style="display: flex;">
    <mat-card style="flex: 1;" class="bedes-content-card mat-elevation-z0 mat-typography">
        <!-- <mat-card-header>
            <mat-card-title>
                <h1 class="mat-display-1">
                    BEDES Mapping Applications
                </h1>
            </mat-card-title>
        </mat-card-header> -->
        <mat-card-content>
            <h1 style="text-align: center;">BEDES Term Mapping</h1>
            <app-bedes-search-query-builder></app-bedes-search-query-builder>
            <app-bedes-search-results></app-bedes-search-results>
        </mat-card-content>
    </mat-card>

</div>

