// @import '~@angular/material/theming';
// @include mat-core();
/* For use in src/lib/core/theming/_palette.scss */
/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
    50 : #e2eaf1,
    100 : #b6cbdd,
    200 : #85a8c7,
    300 : #5485b0,
    400 : #2f6b9f,
    500 : #0a518e,
    600 : #094a86,
    700 : #07407b,
    800 : #053771,
    900 : #03275f,
    A100 : #90b3ff,
    A200 : #5d90ff,
    A400 : #2a6dff,
    A700 : #105cff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-accent: (
    50 : #e9f4fb,
    100 : #c7e4f4,
    200 : #a2d3ed,
    300 : #7dc1e5,
    400 : #61b3e0,
    500 : #45a6da,
    600 : #3e9ed6,
    700 : #3695d0,
    800 : #2e8bcb,
    900 : #1f7bc2,
    A100 : #fafdff,
    A200 : #c7e5ff,
    A400 : #94cdff,
    A700 : #7ac1ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-success: (
    50 : #e5efe1,
    100 : #bfd8b4,
    200 : #94be82,
    300 : #69a350,
    400 : #49902b,
    500 : #297c05,
    600 : #247404,
    700 : #1f6904,
    800 : #195f03,
    900 : #0f4c01,
    A100 : #8cff80,
    A200 : #5eff4d,
    A400 : #30ff1a,
    A700 : #1aff00,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-danger: (
    50 : #f5e0e0,
    100 : #e6b3b3,
    200 : #d68080,
    300 : #c54d4d,
    400 : #b82626,
    500 : #ac0000,
    600 : #a50000,
    700 : #9b0000,
    800 : #920000,
    900 : #820000,
    A100 : #ffafaf,
    A200 : #ff7c7c,
    A400 : #ff4949,
    A700 : #ff3030,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-warning: (
    50 : #fbeee1,
    100 : #f5d5b3,
    200 : #eeb981,
    300 : #e79c4e,
    400 : #e28728,
    500 : #dd7202,
    600 : #d96a02,
    700 : #d45f01,
    800 : #cf5501,
    900 : #c74201,
    A100 : #fff3ef,
    A200 : #ffcdbc,
    A400 : #ffa889,
    A700 : #ff956f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$custom-primary: mat-palette($md-primary);
$custom-accent:  mat-palette($md-accent);
$custom-warn: mat-palette($md-warning);
$custom-danger: mat-palette($md-danger);
$custom-success: mat-palette($md-success);

.color-primary {
  background-color: mat-color($custom-primary);
//   color: white;
}

.color-accent {
  background-color: mat-color($custom-accent);
//   color: white;
}

.color-warn {
    background-color: mat-color($custom-warn);
  //   color: white;
  }

.color-accent-200 {
  background-color: mat-color($custom-accent, 200);
//   color: white;
}

.font-color-accent {
    color: mat-color($custom-accent);
}
.border-color-accent {
    color: mat-color($custom-accent);
    border: 2px mat-color($custom-accent) solid;
}

.font-color-warn {
  color: mat-color($custom-danger);
}

$default-anchor-color: mat-color($custom-accent,800);

$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-danger);
// $custom-theme: mat-dark-theme($custom-primary, $custom-accent);

@include angular-material-theme($custom-theme);

// $custom-typography: mat-typography-config(
//     $headline: mat-typography-level(32px, 48px, 700),
//     $body-1: mat-typography-level(16px, 24px, 500),
//     $caption: mat-typography-level(14px, 22px, 500)
//   );
// @include angular-material-typography($custom-typography);

div.alert-success {
    border: 2px mat-color($custom-success, 700) solid;
    border-radius: 5px;
    padding: 7px;
    text-align: center;
    // background-color: mat-color($custom-success, lighter);
    color: mat-color($custom-success, 700);
}

div.alert-danger {
    border: 2px mat-color($custom-danger, 700) solid;
    border-radius: 5px;
    padding: 7px;
    text-align: center;
    // background-color: mat-color($custom-danger, lighter);
    color: mat-color($custom-danger, 700);
}

div.alert-warn {
    border: 2px mat-color($custom-warn, 700) solid;
    border-radius: 5px;
    padding: 7px;
    text-align: center;
    // background-color: mat-color($custom-warn, lighter);
    color: mat-color($custom-warn, 700);
}

div.alert-accent {
    border: 2px mat-color($custom-accent, 700) solid;
    border-radius: 5px;
    padding: 7px;
    text-align: center;
    // background-color: mat-color($custom-accent, lighter);
    color: mat-color($custom-accent, 700);
}
