// @import '~@angular/material/theming';
@use '~@angular/material' as mat;
// @include mat-core();
/* For use in src/lib/core/theming/_palette.scss */
/* For use in src/lib/core/theming/_palette.scss */

$md-primary: (
    50 : #e8f4fb,
    100 : #c6e5f4,
    200 : #a1d3ed,
    300 : #7bc1e6,
    400 : #5eb4e0,
    500 : #42a7db,
    600 : #3c9fd7,
    700 : #3396d2,
    800 : #2b8ccd,
    900 : #1d7cc4,
    A100 : #fbfdff,
    A200 : #c8e5ff,
    A400 : #95ceff,
    A700 : #7bc2ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-accent: (
    50 : #e1eaf2,
    100 : #b5cbdd,
    200 : #84a9c7,
    300 : #5386b1,
    400 : #2e6ca0,
    500 : #09528f,
    600 : #084b87,
    700 : #06417c,
    800 : #053872,
    900 : #022860,
    A100 : #90b4ff,
    A200 : #5d92ff,
    A400 : #2a70ff,
    A700 : #115eff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-danger: (
    50 : #faeaea,
    100 : #f4cbca,
    200 : #eca9a7,
    300 : #e48784,
    400 : #df6d69,
    500 : #d9534f,
    600 : #d54c48,
    700 : #cf423f,
    800 : #ca3936,
    900 : #c02926,
    A100 : #fffdfd,
    A200 : #ffcbca,
    A400 : #ff9997,
    A700 : #ff807e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-success: (
    50 : #e5efe1,
    100 : #bfd8b4,
    200 : #94be82,
    300 : #69a350,
    400 : #49902b,
    500 : #297c05,
    600 : #247404,
    700 : #1f6904,
    800 : #195f03,
    900 : #0f4c01,
    A100 : #8cff80,
    A200 : #5eff4d,
    A400 : #30ff1a,
    A700 : #1aff00,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$md-warning: (
    50 : #fbeee1,
    100 : #f5d5b3,
    200 : #eeb981,
    300 : #e79c4e,
    400 : #e28728,
    500 : #dd7202,
    600 : #d96a02,
    700 : #d45f01,
    800 : #cf5501,
    900 : #c74201,
    A100 : #fff3ef,
    A200 : #ffcdbc,
    A400 : #ffa889,
    A700 : #ff956f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$custom-primary: mat.define-palette($md-primary);
$custom-accent:  mat.define-palette($md-accent);
$custom-warn: mat.define-palette($md-warning);
$custom-danger: mat.define-palette($md-danger);
$custom-success: mat.define-palette($md-success);

$default-anchor-color: mat.get-color-from-palette($custom-accent,800);

$custom-theme: mat.define-light-theme($custom-primary, $custom-accent, $custom-danger);
// $custom-theme: mat-dark-theme($custom-primary, $custom-accent);


// $custom-typography: mat-typography-config(
//     $headline: mat-typography-level(32px, 48px, 700),
//     $body-1: mat-typography-level(16px, 24px, 500),
//     $caption: mat-typography-level(14px, 22px, 500)
//   );
// @include angular-material-typography($custom-typography);
