<div class="bedes-header-container">
    <h1>Search for BEDES Terms</h1>
</div>

<app-bedes-search-parameters (searchResultOutput)="handleSearchResultOutput($event)">
</app-bedes-search-parameters>

<mat-card class="bedes-container">
    <mat-card-header>
        <span class="bedes-container-title">
            <fa-icon [icon]="['fas', 'search']"></fa-icon>
            Results
        </span>
    </mat-card-header>

    <mat-card-content style="flex:1; display: flex; flex-direction:column;">
        <app-bedes-search-results-table [dataSource]="dataSource">
        </app-bedes-search-results-table>
    </mat-card-content>
</mat-card>
