<div style="display:flex;">
    <mat-card class="bedes-card" style="margin:10px; flex: 1;">
        <mat-card-header class="color-accent">
            <mat-card-title>
                <h2 class="mat-dislay-2">
                    <fa-icon [icon]="['fas', 'project-diagram']"></fa-icon>
                    Composite Term Builder
                </h2>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <router-outlet></router-outlet>
        </mat-card-content>
    </mat-card>
</div>
