<mat-card class="bedes-card mat-typography" style="flex:1; padding:0">
    <mat-card-header class="color-accent">
        <mat-card-title>
            <h2 class="mat-h2">
                {{currentUser.name}}
            </h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content style="padding:1rem; flex:1">
        <mat-card-actions style="display:flex; padding-left:16px; padding-right: 16px;">
            <button mat-stroked-button color="primary" style="flex: 1;"
            (click)="logout()">
                <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>
                Logout
            </button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
