<div style="display:flex; justify-content:center; padding-top:1rem">
    <mat-card class="bedes-card" style="width: 600px; padding:0">
        <mat-card-header class="color-accent">
            <mat-card-title>
                <h2 class="mat-h2">
                    <fa-icon [icon]="['fas', 'user-plus']"></fa-icon>
                    Verify Account
                </h2>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="!verifySuccess">
                <div style="display:flex">
                    <mat-form-field style="flex:50%; padding:10px" appearance="outline">
                        <mat-label>Verification Code</mat-label>
                        <input type="text" matInput placeholder="Verification Code"
                        [(ngModel)]="verificationCode" maxlength="10" required>
                    </mat-form-field>
                </div>
                <div *ngIf="verifyError" class="font-color-warn" style="margin-bottom: 10px">
                    <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
                    Unable to verify your account, please check the code and try again.
                </div>

            </div>
            <div *ngIf="verifySuccess">
                <fa-icon [icon]="['fas', 'check-circle']"></fa-icon>
                Your account has been verified.
            </div>
            <div class="alert-success" style="margin: 10px 0 10px 0; text-align:left;"
            *ngIf="newCodeSuccess">
                <span style="font-weight:bold; padding-right:10px;">Status:</span>
                <span>
                    <fa-icon [icon]="['fas', 'check']"></fa-icon>
                    List option successfully created.
                </span>
            </div>
            <mat-card-actions style="display:flex;">
                <button mat-stroked-button color="primary" style="flex: 1;" (click)="verify()">
                    Verify
                </button>
                <button mat-stroked-button color="primary" style="flex: 1;" (click)="newVerificationCode()">
                    New Verification Code
                </button>
                <!-- <button mat-stroked-button color="primary" style="flex:1;" [routerLink]="['request-account']">
                    New Verification Code
                </button> -->
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</div>

