  <mat-card class="bedes-card mat-typography">
        <mat-card-header class="color-accent">
            <mat-card-title>
                <h2>
                    {{ dialogTitle }}
                </h2>
            </mat-card-title>
            <!-- <mat-card-subtitle>subtitle</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content style="padding: 10px;">
            {{ dialogContent }}
        </mat-card-content>
        <mat-card-actions style="display:flex; justify-content: center">
            <button mat-stroked-button color="primary" style="margin-right:5px;" (click)="confirm()">
                <!-- <span style="margin-right: 5px;">
                    <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>
                </span> -->
                Yes
            </button>
            <button mat-stroked-button color="primary" (click)="decline()">
                <!-- <span style="margin-left: 5px;">
                    <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
                </span> -->
                No
            </button>
        </mat-card-actions>
    </mat-card>

