<div class="mat-typography" style="display:flex;">
    <mat-card class="bedes-content-card mat-elevation-z0" style="margin:10px 0 10px 0; flex: 1;">
        <mat-card-header>
            <mat-card-title>
                <h2>
                    <fa-icon [icon]="['fas', 'edit']"></fa-icon>
                    Edit List Option
                    is valid = {{dataForm.valid}}
                </h2>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>
                <button mat-stroked-button color="primary"
                [disabled]="dataForm.invalid || currentControlState !== ControlState.Normal"
                (click)="updateListOption()"
                *ngIf="currentRequestStatus !== RequestStatus.Success">
                    <fa-icon [icon]="['fas', 'save']"></fa-icon>
                    Save
                </button>
                <button mat-stroked-button (click)="back()" *ngIf="currentRequestStatus !== RequestStatus.Pending">
                    <fa-icon [icon]="['fas', 'chevron-circle-left']"></fa-icon>
                    Back to List Options
                </button>
            </div>
            <div style="min-height: 38px;">
                <div class="alert-warn" style="margin: 10px 0 10px 0; text-align:left;" *ngIf="currentRequestStatus === RequestStatus.Idle && dataForm.invalid">
                    <span style="font-weight:bold; padding-right:10px;">Status:</span>
                    <span>
                        <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
                        Missing required fields.
                    </span>
                </div>
                <div class="alert-accent" style="margin: 10px 0 10px 0; text-align:left;" *ngIf="currentRequestStatus === RequestStatus.Idle && dataForm.valid">
                    <span style="font-weight:bold; padding-right:10px;">Status:</span>
                    <span>
                        <fa-icon [icon]="['fas', 'check']"></fa-icon>
                        Ready to save.
                    </span>
                </div>
                <div class="alert-success" style="margin: 10px 0 10px 0; text-align:left;" *ngIf="currentRequestStatus === RequestStatus.Success">
                    <span style="font-weight:bold; padding-right:10px;">Status:</span>
                    <span>
                        <fa-icon [icon]="['fas', 'check']"></fa-icon>
                        List option successfully created.
                    </span>
                </div>
                <div class="alert-danger" style="margin: 10px 0 10px 0; text-align:left;" *ngIf="currentRequestStatus === RequestStatus.Error">
                    <span style="font-weight:bold; padding-right:10px;">Status:</span>
                    <span>
                        <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
                        An error occured creating the list option.
                    </span>
                </div>
                <div class="alert-accent" style="margin: 10px 0 10px 0; text-align:left;"
                *ngIf="currentRequestStatus === RequestStatus.Pending">
                    <span style="font-weight:bold; padding-right:10px;">Status:</span>
                    <span>
                        <fa-icon [icon]="['fas', 'spinner']" [spin]="true" [size]="lg"></fa-icon>
                        Waiting...
                    </span>
                </div>
            </div>
            <form [formGroup]="dataForm" style="display:flex; flex-direction: column; margin-top:10px">
                <mat-form-field style="flex:1; margin-bottom:5px;" hintLabel="* Required">
                    <input matInput placeholder="Display Name" formControlName="name">
                </mat-form-field>
                <mat-form-field style="flex:1; margin-bottom:5px;">
                    <textarea matInput placeholder="Description" formControlName="description" rows="5"></textarea>
                </mat-form-field>
                <div style="display:flex; flex-direction: row;">
                    <mat-form-field style="flex:1;">
                        <mat-select placeholder="Unit" formControlName="unitId" *ngIf="unitList.length">
                            <mat-option *ngFor="let item of unitList" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
