  <mat-card class="bedes-card mat-typography">
        <mat-card-header class="color-accent">
            <mat-card-title>
                <h2>
                    Import Application Terms
                </h2>
            </mat-card-title>
            <!-- <mat-card-subtitle>subtitle</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content style="padding: 10px; font-size: 1.1rem;">
            <p>
                The BEDES Manager can import a <strong>csv</strong> file with implementation
                terms:
            </p>
            <div>
                <ul>
                    <li>First line should be the header</li>
                    <li>Each additional line is an implementation term, either "Atomic" or "Constrained List"</li>
                    <li> Take a look at the sample file to see the list of headers and implementation terms. </li>
                    <li> <b> NOTE: </b> The list of headers should be exactly the same as in the sample file. </li>
                </ul>
            </div>
            <div style="text-align: center;">
                <a mat-raised-button color="primary" style="margin-right:5px"
                href="assets/app-term-import-test.csv" download="BEDES Application Import Example.csv">
                    <fa-icon [icon]="['fas', 'download']"></fa-icon>
                    Download Sample File
                </a >
            </div>

        </mat-card-content>
        <mat-card-actions style="display:flex; justify-content: center">
            <button mat-stroked-button color="primary" style="margin-right:5px;" (click)="fileInput.click()">
                <fa-icon [icon]="['fas', 'file-import']"></fa-icon>
                Import Terms
            </button>
            <button mat-stroked-button color="primary" (click)="close()">
                <fa-icon [icon]="['fas', 'times']"></fa-icon>
                Cancel
            </button>
        </mat-card-actions>
    </mat-card>
    <!-- The file upload control, button at the top of the page calls the click method -->
    <input type="file"
    name="fileUploadInput"
    (change)="fileSelected($event);"
    style="display:none;"
    #fileInput />

