  <mat-card class="bedes-card mat-typography">
        <mat-card-header class="color-accent">
            <mat-card-title>
                <h2>
                    Import Application Terms
                </h2>
            </mat-card-title>
            <!-- <mat-card-subtitle>subtitle</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content style="padding: 10px; font-size: 1.1rem;">
            <p>
                The BEDES Manager can import a <strong>csv</strong> file with implementation
                terms:
            </p>
            <div>
                <ul>
                    <li>First line should be the header</li>
                    <li>Each additional line is an implementation term, either "Atomic" or "Constrained List"</li>
                    <li>Each of implementation term should have the following required columns:</li>
                    <ol>
                        <li>
                            <strong>Term Name</strong> - The name of the application term, value is required.
                        </li>
                        <li>
                            <strong>Term Description</strong> - The description of the application term.
                        </li>
                        <li>
                            <strong>Term Type*</strong> - "[value]" or "Constrained List", value is required.
                        </li>
                        <li>
                            <strong>Unit</strong> - Unit Text
                        </li>
                    </ol>
                    <li>
                        Constrained List terms should define repeating pairs of List Option Name/Description columns
                        for each constrained list option.
                        <ol>
                            <li>
                                <strong>List Option Name</strong>
                            </li>
                            <li>
                                <strong>List Option Description</strong>
                            </li>
                        </ol>
                    </li>
                </ul>
            </div>
            <div style="text-align: center;">
                <a mat-raised-button color="primary" style="margin-right:5px"
                href="assets/app-term-import-test.csv" download="import-example.csv">
                    <fa-icon [icon]="['fas', 'download']"></fa-icon>
                    Download Sample File
                </a >
            </div>

        </mat-card-content>
        <mat-card-actions style="display:flex; justify-content: center">
            <button mat-stroked-button color="primary" style="margin-right:5px;" (click)="fileInput.click()">
                <fa-icon [icon]="['fas', 'file-import']"></fa-icon>
                Import Terms
            </button>
            <button mat-stroked-button color="primary" (click)="close()">
                <fa-icon [icon]="['fas', 'times']"></fa-icon>
                Cancel
            </button>
        </mat-card-actions>
    </mat-card>
    <!-- The file upload control, button at the top of the page calls the click method -->
    <input type="file"
    name="fileUploadInput"
    (change)="fileSelected($event);"
    style="display:none;"
    #fileInput />

