<div class="mat-typography" style="max-width: 900px; margin: 0 auto; padding: 10px;">
    <div style="display:flex;">
        <button mat-stroked-button color="primary"
        [disabled]="dataForm.invalid || currentRequestStatus === RequestStatus.Pending"
        (click)="updateApplication()">
            <fa-icon [icon]="['fas', 'save']"></fa-icon>
            Save
        </button>
        <a mat-stroked-button color="primary"
        [routerLink]="['/applications/list']"
        [disabled]="currentControlState === ControlState.Disabled">
            <fa-icon [icon]="['fas', 'chevron-circle-left']"></fa-icon>
            Back
        </a>
    </div>
    <!-- Messages -->
    <!-- Missing required fields -->
    <!-- <div class="alert-warn" style="margin: 10px 0 10px 0; text-align:left;"
                *ngIf="currentRequestStatus === RequestStatus.Idle && dataForm.invalid">
                    <span style="font-weight:bold; padding-right:10px;">Status:</span>
                    <span>
                        <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
                        Missing required fields.
                    </span>
                </div> -->

    <!-- Data Form -->
    <form [formGroup]="dataForm" style="display:flex; flex-direction: column; margin-top:10px">
        <mat-form-field style="flex:1; margin-bottom:5px;" hintLabel="* Required" appearance="outline">
            <mat-label>Implementation Field Name</mat-label>
            <input matInput placeholder="Enter the Implementation Field Name" formControlName="name">
        </mat-form-field>
        <mat-form-field style="flex:1; margin-bottom:5px;" appearance="outline">
            <mat-label>Implementation Field Description</mat-label>
            <textarea matInput placeholder="Enter a Description" formControlName="description" rows="5">
            </textarea>
        </mat-form-field>

        <div style="display:flex;">
            <mat-form-field style="flex:1; margin-bottom:5px;" appearance="outline">
                <mat-label>Type of Term</mat-label>
                <mat-select placeholder="Select a Term Type" formControlName="termTypeId">
                    <mat-option *ngFor="let item of appTermTypeItems" [value]="item.id">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>

</div>

<h2>Application Terms</h2>
<router-outlet></router-outlet>
