<mat-card class="bedes-content-card mat-elevation-z0 mat-typography">
    <mat-card-header>
        <mat-card-title>
            <h2>
                Term Definition
            </h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="dataForm" style="display:flex; flex-direction: column;">
            <mat-form-field style="flex:1; margin-bottom:5px;">
                <input matInput placeholder="Term Name" formControlName="name">
            </mat-form-field>
            <mat-form-field style="flex:1; margin-bottom:5px;">
                <textarea matInput placeholder="Description" formControlName="description" rows="5"></textarea>
            </mat-form-field>
            <div style="display:flex; flex-direction: row;">
                <mat-form-field style="flex:1; margin-bottom:5px;">
                    <mat-select placeholder="Select the Data Type" formControlName="dataTypeId" *ngIf="dataTypeList.length">
                        <mat-option *ngFor="let item of dataTypeList" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field style="flex:1;">
                    <mat-select placeholder="Unit" formControlName="unitId" *ngIf="unitList.length">
                        <mat-option *ngFor="let item of unitList" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field style="flex:1;">
                    <mat-select placeholder="Term Category" formControlName="termCategoryId" *ngIf="categoryList.length">
                        <mat-option *ngFor="let item of categoryList" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </mat-card-content>
</mat-card>
