<div class="heading-container">
    <h1>
        <fa-icon [icon]="['fas', 'align-left']"></fa-icon>
        Application Terms
    </h1>
</div>

<div style="flex: 1; display:flex; flex-direction: column; margin: 10px;">

    <div style="display:flex; flex-direction: row; align-items: center; margin-bottom:10px;">

        <div style="flex: 1; display: flex; align-items: center; justify-content: center;">
            <mat-form-field appearance="outline" style="flex: 2; max-width: 700px" >
                <mat-label>Search</mat-label>
                <input matInput type="text" (keyup)="quickFilterChange($event)">
            </mat-form-field>
            <mat-checkbox [checked]="globalAppTermServiceRef.includePublicTerms" (change)="showPublicChange($event)" style="flex: 1; max-width: 200px; padding-bottom: 1.3em; padding-left: 1em">Show public
                terms
            </mat-checkbox>
        </div>
    </div>

    <!-- Guest and no applications -->
    <div class="alert-danger" style="margin-top:10px;"
         *ngIf="!currentUser.isLoggedIn() && (!appTermList || !appTermList?.length)">
        <h3 style="margin: 0; padding:0;">
            <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
            There are no {{ globalAppTermServiceRef.includePublicTerms ? "public or " : "" }}approved application terms available for view.
            You can <a [routerLink]="['/home/request-account']">click here to request an account</a>
            to begin mapping your own applications and terms.
        </h3>
    </div>

    <div class="alert-danger" style="margin-top:10px;"
         *ngIf="currentUser.isLoggedIn() && (!appTermList || !appTermList?.length)">
        <h3 style="margin: 0; padding:0;">
            <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
            There are no {{ globalAppTermServiceRef.includePublicTerms ? "public, " : "" }}private or approved application terms available.
        </h3>
    </div>

    <div style="flex: 1; display:flex;" *ngIf="appTermList && appTermList.length">
        <div style="overflow: hidden; flex-grow: 1">
            <ag-grid-angular #agGrid
                             style="width: 100%; height: 100%;"
                             id="myGrid"
                             [gridOptions]="gridOptions"
                             [context]="tableContext"
                             class="ag-theme-material">
            </ag-grid-angular>
        </div>
    </div>
</div>
