<mat-card class="bedes-card" style="flex:1; padding:0">
    <mat-card-header class="color-accent" >
        <mat-card-title>
            <h2 class="mat-h2">
                <fa-icon [icon]="['fas', 'user-plus']"></fa-icon>
                New Account
            </h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content style="padding:1rem">
        <form [formGroup]="requestForm">
            <div style="display:flex; flex-direction: column;">
                <mat-form-field style="flex: 1;">
                    <input matInput placeholder="First Name" formControlName="firstName" >
                </mat-form-field>
                <mat-form-field style="flex: 1;">
                    <input matInput placeholder="Last Name" formControlName="lastName" >
                </mat-form-field>
                <mat-form-field style="flex: 1;">
                    <input matInput placeholder="Email" formControlName="email" >
                </mat-form-field>
                <mat-form-field style="flex: 1;">
                    <input matInput placeholder="Organization" formControlName="organization" >
                </mat-form-field>
                <mat-form-field style="flex: 1;">
                    <input matInput type="password" placeholder="Password" formControlName="password" >
                </mat-form-field>
                <mat-form-field style="flex: 1;">
                    <input matInput type="password" placeholder="Password" formControlName="passwordConfirm" >
                </mat-form-field>
                <span *ngIf="hasError" class="font-color-warn">
                    {{errorMessage}}
                </span>
            </div>
        </form>
        <mat-card-actions style="display:flex; padding-left:16px; padding-right: 16px;">
            <button mat-stroked-button color="primary" style="flex: 1;"[routerLink]="['/login']">
                <fa-icon [icon]="['fas', 'arrow-to-left']"></fa-icon>
                Existing User
            </button>
            <button mat-stroked-button color="primary" style="flex:1;"
            [disabled]="requestForm.invalid"
            (click)="submitForm()">
                <fa-icon [icon]="['fas', 'sign-in']"></fa-icon>
                Submit
            </button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
