<div class="search-box">
    <form name="myForm">
        <button mat-stroked-button (click)="back()">
            <fa-icon [icon]="['fas', 'chevron-circle-left']"></fa-icon>
            Back
        </button>
        <div style="display:flex; flex-direction: row; align-items: center">
            <mat-form-field style="flex:1;" focused="true">
                <input matInput #searchInput name="searchStringInput" placeholder="Enter Search Text..." [disabled]="waitingForResults"
                    [(ngModel)]="searchString">
            </mat-form-field>
            <button mat-raised-button style="margin-left: 5px;" color="primary" [disabled]="waitingForResults" (click)="searchForTerms()">
                <fa-icon [icon]="['fas', 'play-circle']" *ngIf="!waitingForResults">
                </fa-icon>
                <fa-icon [icon]="['fas', 'spinner']" [pulse]="true" *ngIf="waitingForResults">
                </fa-icon>
                Submit
            </button>
        </div>
    </form>
</div>
<div *ngIf="hasSearched">
    <h1 class="mat-h1" style="text-align: center;" *ngIf="!searchResults || !searchResults.length">
        No records found.
    </h1>
    <h1 class="mat-h1" style="text-align: center;" *ngIf="searchResults?.length">
        Found {{ searchResults.length}} records
    </h1>
</div>
<div style="display:flex; justify-content: space-around;" [style.display]="searchResults.length ? 'block' : 'none'">
    <div style="flex: 1; padding:10px;">
        <button mat-stroked-button color="primary" [disabled]="!selectedItem" (click)="importSelectedTerm()">
            <fa-icon [icon]="['fas', 'check']"></fa-icon>
            Map to Selected Term
        </button>
    </div>
    <ag-grid-angular #agGrid style="width: 100%;" id="myGrid" [gridOptions]="gridOptions" [context]="tableContext"
        class="ag-theme-balham">
    </ag-grid-angular>
</div>
