<mat-card class="bedes-card" style="flex:1; padding:0">
    <mat-card-header class="color-accent">
        <mat-card-title style="width:100%; text-align:center">
            <h1 class="mat-headline" style="padding:0; margin:0;">
                <fa-icon [icon]="['fas', 'key']"></fa-icon>
                Update Password
            </h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content style="padding:1rem; flex:1">
        <form id="form" [formGroup]="dataForm">
            <div style="display:flex; flex-direction: column;">
                <mat-form-field style="flex:1" appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput
                    type="password"
                    #passwordControl
                    placeholder="Enter your New Password"
                    formControlName="password">
                </mat-form-field>
                <mat-form-field style="flex:1" appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput
                    type="password"
                    #passwordConfirmControl
                    placeholder="Confirm Password"
                    formControlName="passwordConfirm">
                </mat-form-field>
            </div>

            <div class="alert-danger" style="margin-top:10px;" *ngIf="errorMessage">
                <div style="margin: 0; padding:0;">
                    <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
                    {{ errorMessage }}
                </div>
            </div>
            <div class="alert-success" style="margin-top:10px;" *ngIf="updateSuccess">
                <div style="margin: 0; padding:0;">
                    <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
                    Password updated!
                </div>
            </div>
        </form>

        <mat-card-actions>
            <div style="flex: 1; display: flex; margin-top: 10px;">
                <button style="flex: 1;"
                mat-stroked-button
                color="primary"
                [disabled]="dataForm.invalid || passwordControl.value !== passwordConfirmControl.value"
                (click)="updatePassword()">
                    <fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon>
                    Update Password
                </button>
            </div>

        </mat-card-actions>

    </mat-card-content>
</mat-card>
