@use '@angular/material' as mat;
@import "src/styles/theme";

.img-container {
    flex: 1;
    margin: 10px;
    border-bottom: 1px mat.get-color-from-palette($custom-primary) solid;
    max-width: 800px;

    display: flex;
    justify-content: center;
    img {
        margin: 10px auto;
    }
}

ul {
    list-style-position: inside;
    padding: 0;
}
