
footer {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    box-sizing: border-box;
    height: 60px;
    * {
        text-align: center;
        color: white;
    }
    a {
        text-decoration: none;
    }
}
