<div class="mat-typography" style="display:flex; padding-left: 30px; padding-right: 30px; background: white; margin: 10px;">
    <div style="flex: 1;">
        <div style="display:flex;">
            <div>
                <img src="assets/bedes_logo.png"/>
            </div>
            <div style="flex: 1; margin-top: 30px;">
                <h1 class="mat-display-1" style="text-align: center;">
                    BEDES Mapping Manager
                </h1>
            </div>
        </div>
        <p class="mat-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea rem nisi velit sit eligendi veniam debitis reiciendis qui unde magni laboriosam voluptatem, dignissimos amet corporis. Doloremque officia eum nihil nesciunt?
        </p>
    </div>

    <div style="width:450px; padding:20px;">
        <router-outlet></router-outlet>
    </div>
</div>

